@CHARSET "UTF-8";

html {
	height: 100%;
	width: 100%
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

p {text-indent:15px; text-align: justify;margin-top:0px;margin-bottom:2px}

.center{color:#DC072F; font-size:21px; font-family:Georgia, "Times New Roman", Times, serif; font-weight:bold; width:100%; text-align: center;}
.sep1 div {font-size:0px; height:3px; border:1px #D8DCE3 solid; margin:5px 0px 5px 0px}
.sep2 div {font-size:0px; height:2px; background-color:#D8DCE3; margin:2px 0px 5px 0px}
.blu, #bot .text, #bot .text a, #center .l_menu a, #center .content .top a{
	color:#4D40FF;
	font-weight:bold;
}

table,tr,td {
	border: 0px solid;
	vertical-align: top;
	text-align: left
}

body,div,table,tr,td,span,h1,h2,h3,h4,h5,a {
	font-family: Verdana, Tahoma;
	font-size: 12px;
}

h1 {
	font-size: 14px;
}

h2 {
	font-size: 13px;
}

h3 {
	font-size: 12px;
}

table.menu {
	width: 190px
}

table.menu a {
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	margin-left: 10px
}

table.menu a:visited {
	color: #FFFFFF
}

table.menu a:hover {
	color: #FFFFFF
}

table.menu tr {
	vertical-align: middle;
}

.cnt {
	text-align: justify;
	padding-left: 15px;
	padding-right: 30px
}