#SetEnv APPLICATION_ENV work_development
#SetEnv APPLICATION_ENV production
#server_development

AddDefaultCharset UTF-8

RewriteEngine on

RewriteBase /

RewriteCond %{ENV:REDIRECT_STATUS} ^$
#RewriteRule ^res\.php.*$ / [L]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^tmp\.php.*$ / [L]


RewriteRule ^tmp/(\d+)/(.+)\.(gif|jpg|png)$ /tmp.php [L,NC]
RewriteRule ^res/(\d+)/(.+)\.(zip|rar|gif|jpg|png|xls|doc|pdf)$ /res.php [L,NC]
RewriteRule ^docs/(\d+)/(.+)\.(zip|doc|rtf|pdf|xls|txt|htm|html|ppt|pps)$ /res.php [L,NC]

RewriteCond %{REQUEST_URI} ^/auth
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R]

RewriteCond %{SCRIPT_FILENAME} !^edustat/.*
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)$ /index.php [L,QSA]

#php_flag magic_quotes_gpc off
#php_flag register_globals off

#php_post_max_size 80M
#php_upload_max_filesize 80M